<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Not Implemented</title>
</head>
<body>

    <h2 th:text="'Not Implemented Yet!!!'">Not Implemented Yet</h2>

</body>
</html>